---

import "../styles/recipes.css";

import { getRecipes } from "../data/recipes";

const recetas = await getRecipes();
---

<div class="cards">
    {
        recetas.map((reci) => (
            

                <div class="card" style={`background-image: url(${reci.imagen});`}>
                    <div class="fondo">
                        <span>{reci.dificultad}</span>
                        <h3>{reci.nombre}</h3>
                        <p>{reci.tiempo} min</p>
                        <p>{reci.tipo}</p>
                    </div>
                     
                    
                </div>
            
        ))
    }
</div>


